.log{
    padding-left: 160px;
    padding-top: 70px;
    padding-right: 80px;
    padding-bottom: 10px;
      float: left;
      width: 740px;
      /* column-count: 1; */
    
}
.aud{
    text-align: center;
}

.anda {background-color: #FF4500;
    font-size: 16px;
    border-radius: 6px;
    cursor:pointer;
    color: whitesmoke;
    padding: 10px 20px;
    width: 40%;
}
.sign{background-color: #FF4500;
    font-size: 16px;
    border-radius: 6px;
    cursor:pointer;
    color: whitesmoke;
    padding: 10px 20px;
    
   
   

}
.ima{
    
    padding-top: 200px;
    margin: auto;
    position: absolute;
    
    
}
.already{
    color: black;
    margin-left:28%;
    margin-top:4%;
}
